#toggle-music-form {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

#toggle-music-form button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
}

#toggle-music-form button.active {
  opacity: 1;
}
