#toggle-music-form {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#toggle-music-form .music-artist {
  font-size: 0.8rem;
  font-style: italic;
  color: #ccc;
}

.music-artist a {
  color: inherit;
}

#toggle-music-form button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
}

#toggle-music-form button.active {
  opacity: 1;
}
