@font-face {
  font-family: Quicksand;
  src: url("./fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("./fonts/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("./fonts/Quicksand-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url("./fonts/Quicksand-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Amatic;
  src: url("./fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic", serif;
}
