@import "./rating";

main {
  background: url("./img/red-space.gif") repeat;
}

.img-header {
  display: flex;
  font-size: 3rem;
  gap: 1rem;
  align-items: center;
}

.img-header img {
  height: 3rem;
}

.game-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  margin-bottom: 6rem;
}

.game-list li img {
  max-width: 10rem;
}

.game-list img:hover {
  animation: wobble 0.5s ease-in-out infinite;
}

.game-list img.disk:hover {
  animation: spin 3s linear infinite;
}

.game-list li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.game-list h2 {
  margin: 0.5rem 0 0.25rem;
}

@keyframes wobble {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(5deg);
  }
  50% {
    transform: scale(1.1) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(-5deg);
  }
  100% {
    transform: scale(1.1) rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1.1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(360deg);
  }
}
