main {
  background: url("./img/aquagalaxy_small.gif") repeat;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.section {
  position: relative;
  padding: 0.5rem;
  font-size: 1.5rem;
  max-width: 800px;
}

.section h2 {
  margin: 0;
}

.section-content > p {
  margin: 0.5rem 0;
}

.section .section-content {
  position: relative;
  z-index: 1;
}

.section::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.badges {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
