body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: var(--body-bg-img) repeat;
  color: var(--text-color);
}

nav {
  flex: 1;
}

main {
  flex: 9;
  padding: 1rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
}

header,
main,
footer {
  background: var(--content-bg);
}
