body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--body-bg-img) repeat;
  color: var(--text-color);
}

main {
  flex: 1;
}

footer {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
}

header,
main,
footer {
  background: var(--content-bg);
  margin: 0 1rem;
  padding: 1rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

@media (min-width: 1200px) {
  header,
  main,
  footer {
    margin: 0 20rem;
    padding: 2rem;
  }
}
