APP_NAME="Leek Cafe"
APP_ENV=local
APP_KEY=# run php artisan key:generate to set this value
APP_DEBUG=true
APP_URL=http://localhost:8000
HASH_DRIVER=argon2id

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=leek
DB_USERNAME=leek
DB_PASSWORD=secret

SESSION_DRIVER=file
QUEUE_CONNECTION=deferred
CACHE_STORE=file

LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_STACK=stderr
